.button {
  @include button();
}

.card {
  @include card ();
}

.header {
  font-family: 'RobotoBold';
  font-size: $font-size-header;

  @media (max-width: 570px) {
    font-size: $font-size-header-mobile;

    transition: all 0.2s ease-out;
  }
}

.text {
  font-size: $font-size-main;
  line-height: $line-height-main;

  span {
    font-family: 'RobotoBold';
  }
}