.card-subscribe-success {
  @include flex (column, center, start);
  gap: 2rem;

  
  width: 450px;

  padding: 3rem;

  @media (max-width: 570px) {
    width: 80vw;

    padding: 3rem 0 2rem 0;

    justify-content: start;
  }

  p {
    flex: 1;
  }

  &__button {
    @media (max-width: 570px) {
      align-content: flex-end;
    }
  }
}