$height-button: 3.5rem;

$text-color-button: hsl(0, 0%, 100%);

// default 

$background-color-button-default: hsl(234, 29%, 20%);

// hover

$background-color-button-hover: linear-gradient(to bottom left, hsl(14, 100%, 61%), hsl(346, 100%, 66%));
