// colors

$background-color-main: hsl(235, 18%, 26%);

$text-color-main: hsl(234, 29%, 20%);

// border-radius

$border-radius-main: 0.7rem;

// font

$font-size-main: 1rem;
$font-size-header: 3.5rem;
$font-size-label: 0.5rem;

$line-height-main: 1rem;